*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ourblogs{
  height: 260px;
  object-fit: contain;
}


.Man{
  height: 260px;
  object-fit: contain;
}

.Woman{
  padding-right: 2.5rem;
  height: 100%;
}

.Mans{
    width: 320px;
  height: 290px;
  object-fit: contain;
}

.Man2{
  width: 305px;
  height: 240px;
  /* object-fit: contain; */
  padding-left: 1.2rem;
}

.selection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-top: -5rem;
}